<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- <link href="font-awesome/css/font-awesome.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="lineicons/style.css">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body ng-app="adminHotelReservationApp" ng-controller="MainCtrl">

</div>
    <section id="container">
        <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
        <!--header start-->
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
            </div>
            <!--logo start-->
            <a href="#/" class="logo"><b>South Gate Inn</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="glyphicon glyphicon-globe"></i>
                            <span class="badge bg-theme" ng-init="init()">{{pendingBookings.length}}</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green" ng-show="pendingBookings">You have {{pendingBookings.length}} pending reservations</p>
                                <p class="green" ng-show="!pendingBookings">You have no pending reservations</p>
                            </li>
                            <li ng-repeat="b in pendingBookings">
                                <a href="#/reservation">
                                    <div class="task-info">
                                        <div class="desc">{{b.title}}</div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#/reservation">See All Bookings</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->

                    <!-- inbox dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" href="#/">Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <!--header end-->

        <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">

                    <!-- <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
                  <h5 class="centered">Marcel Newman</h5> -->

                    <li class="mt">
                        <a class="" href="#/">
                            <i class="fa fa-home"></i>
                            <span>Home</span>
                        </a>
                    </li>


                    <li class="mt">
                        <a class="" href="#/reservation">
                            <i class="glyphicon glyphicon-book"></i>
                            <span>Reservations</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a class="" href="#/rooms">
                            <i class="fa fa-bed"></i>
                            <span>Rooms</span>
                        </a>
                    </li>

                    <li class="mt">
                        <a class="" href="#/messages">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span>Messages</span>
                        </a>
                    </li>


                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->

        <!-- <div class="container">
    <div ng-view=""></div>
    </div> -->

        <section id="main-content">
            <div ng-view=""></div>
        </section>

        <!-- <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </div> -->


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 
        <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
        </script> -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/fullcalendar/fullcalendar.js"></script>
        <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/reservation.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <!-- endbuild -->

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" my-modal>
            <div class="modal-dialog" >
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Welcome to South Gate Inn</h4>
                    </div>
                    <div class="modal-body">

                      <div class="alert alert-danger" role="alert" ng-show="error">Authentication failed : {{error.message}}</div>

                        <p>Enter your username and password below to login.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix" ng-model="user.email">
                        <br>
                        <input type="password" name="password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix" ng-model="user.password">

                    </div>
                    <div class="modal-footer">
                        <!-- <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button> -->
                        <button  class="btn btn-theme" type="button" ng-click="login()">Login</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

 <!--       <script type="text/javascript">
        $(window).load(function() {
            $('#myModal').modal('show');
        });
        </script>
-->
<script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>


</body>

</html>
