<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
<!--main content start-->
<!--       <section id="main-content"> -->
<section class="wrapper">
    <br>
    <div class="well">
        <div class="row-fluid">
            <p class="lead text-center">Booking Calendar</p>


            <div class="text-center">
                <div class="btn-group">
                    <a ng-click="changeView('agendaDay', 'myBookingCalendar')" class="btn btn-md btn-default">Day</a>
                    <a ng-click="changeView('agendaWeek', 'myBookingCalendar')" class="btn btn-md btn-default">Week</a>
                    <a ng-click="changeView('month', 'myBookingCalendar')" class="btn btn-md btn-default">Month</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div calendar="myBookingCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources">
            </div>
        </div>
    </div>
</section>
<!-- </section> -->
